.loginbg {
    position: relative;
    background-image: url('https://scontent.fzyl5-1.fna.fbcdn.net/v/t39.30808-6/464962611_3606052286207513_8114212752889115795_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cf85f3&_nc_ohc=t_5Ui8aOueQQ7kNvwHkjVp6&_nc_oc=Adl1o0KHHuAragGCJNUzMuT1lPOKYJX6iAOzmtad6lhtURkqrneTtdiDPw9uSSwiSTcXD4tBUL99yVNb8ItAsXCH&_nc_zt=23&_nc_ht=scontent.fzyl5-1.fna&_nc_gid=uteImM8K5wglRVkkjaqa2Q&oh=00_AfNv2MF_AZfTwGvlzj9twXLt8GY-fjYHM2ja1PegitnCvw&oe=685C4908');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    /* light see-through */
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    /* glass blur effect */
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


.loginbg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* dark transparent overlay */
    z-index: 2;
}