.loginbg {
    position: relative;
    background-image: url('../assets/images/513756213_3905086582970747_683753230141074337_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    /* light see-through */
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    /* glass blur effect */
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


.loginbg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* dark transparent overlay */
    z-index: 2;
}