@import "tailwindcss";
@plugin "daisyui";

/* inside styles.css or index.css */
.swiper-pagination-bullet {
  background-color: white !important;
  /* Tailwind blue-800 */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #455A64 !important;
  /* Tailwind red-500 */
  opacity: 1;
}

/* Additional custom styles if needed */
.news-item-hover:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}

.primary {
  background-color: #05737D;
}

body{
  background-color: white;
}