@import "tailwindcss";
/* inside styles.css or index.css */
.swiper-pagination-bullet {
  background-color: white !important; /* Tailwind blue-800 */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #455A64 !important; /* Tailwind red-500 */
  opacity: 1;
}

